/* Default Light Theme */
body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    font-family: Arial, sans-serif;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Dark Theme */
body.dark-mode {
    background-color: #121212;
    color: #f0f0f0;
}

button.dark-mode {
    background-color: #f0f0f0;
    color: #121212;
}
